In [4]:
#!pip install ludwig
import pandas as pd
from ludwig.utils.data_utils import add_sequence_feature_column

In [5]:
df = pd.read_csv('../dataset/temperature.csv', usecols=['Los Angeles']).rename(columns={"Los Angeles": "temperature"}).fillna(
    method='backfill').fillna(method='ffill')

In [6]:
# normalize
df.temperature = ((df.temperature - df.temperature.mean()) / df.temperature.std())

In [7]:
train_size = 44556


# train, test split
df['split'] = 0
df.loc[(df.index.values >= train_size),('split')] = 1

In [8]:
# prepare timeseries input feature colum
# (here we are using 20 preceeding values to predict the target)
add_sequence_feature_column(df, 'temperature', 20)

In [9]:
train = df.loc[df['split'] == 0, :]
test = df.loc[df['split'] == 1, :]

In [11]:
test.head()

       temperature  split                                temperature_feature
44556     0.322594      1  0.056374449671736764 0.03470545643014934 0.022...
44557     0.192580      1  0.03470545643014934 0.022323174577814933 -0.01...
44558     0.064113      1  0.022323174577814933 -0.013275885747656393 -0....
44559     0.002202      1  -0.013275885747656393 -0.03649266422078451 -0....
44560    -0.047327      1  -0.03649266422078451 -0.04732716084157822 -0.0...

In [12]:
#df.to_csv('../dataset/temperature_la.csv')
train.to_csv('../dataset/train.csv', header=True, index=False)
test.to_csv('../dataset/test.csv', header=True, index=False)